@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");

body {
  max-width: 100vw;
  overflow-x: hidden;
}

strong {
  color: var(--e-global-color-astglobalcolor0) !important;
  font-weight: bold;
}

header {
  z-index: 75 !important;
}

#page {
  overflow-x: hidden;
}

.mobile-break {
  display: none;
}

.fancy {
  font-family: "Mynerve", cursive !important;
}

.overflow-hidden {
  overflow: hidden;
}

.cartoon-border {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px !important;
  border: 3px solid rgba(0, 0, 0);
  overflow: hidden;
}

.book {
  aspect-ratio: 21/29;
  overflow: hidden !important;
}

.wip {
  opacity: 0.4;
  pointer-events: none !important;
}

.wip * {
  pointer-events: none !important;
}

.eael-testimonial-image img {
  aspect-ratio: 1/1;
  height: 100px !important;
  width: 100px !important;
  position: relative;
}

.clearfix {
  display: flex !important;
  flex-direction: column;
}

/* --- NAVBAR --- */
.menu-link {
  position: relative;
  padding: 0 !important;
  margin: 0 20px !important;
}

.menu-link:after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 0;
  height: 5px;

  background-color: var(--e-global-color-astglobalcolor0) !important;

  transition: all 0.5s ease-in-out;
}

.home .menu-link:after {
  background-color: var(--e-global-color-astglobalcolor2) !important;
}

.menu-link:hover:after {
  width: 100%;
}

ul.sub-menu .menu-link {
  padding: 20px !important;
}

ul.sub-menu .menu-link:after {
  display: none;
}

.elementor-element-86a229d {
  pointer-events: none !important;
}

.ast-mobile-popup-inner {
  background-color: var(--e-global-color-astglobalcolor1) !important;
}

.ast-mobile-popup-inner .menu-link {
  margin: 0 !important;
  padding: 0px !important;
}

.ast-mobile-popup-inner .sub-menu .menu-link {
  margin: 0px !important;
  padding: 0px !important;
  padding-left: 50px !important;
  background-color: var(--e-global-color-astglobalcolor2) !important;
  color: var(--e-global-color-astglobalcolor1) !important;
}

.ast-mobile-popup-inner .sub-menu .menu-link:hover {
  margin: 0px !important;
  padding: 0px !important;
  padding-left: 50px !important;
  background-color: var(--e-global-color-astglobalcolor2) !important;
  color: var(--e-global-color-astglobalcolor0) !important;
}

.ast-mobile-popup-inner .ast-menu-toggle {
  color: var(--e-global-color-astglobalcolor2) !important;
}

.ast-mobile-popup-inner .menu-link:after {
  content: unset !important;
}

.home .ast-mobile-svg {
  fill: var(--e-global-color-astglobalcolor2) !important;
}

/* --- NOVINKY --- */

.eael-entry-content {
  margin-bottom: 16px;
}

.eael-entry-header-after {
  display: none;
}

.eael-grid-post-holder {
  overflow: hidden;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px !important;
  border: 3px solid rgba(0, 0, 0);
}

.eael-entry-media {
  transform: scale(106%);
  overflow: hidden;
  border-radius: 225px 15px 225px 220px/15px 225px 15px 21px !important;
  border: 3px solid rgba(0, 0, 0);
}

div.eael-post-grid {
  position: relative !important;
  display: flex !important;
  flex-wrap: nowrap;
  flex-direction: row;

  justify-content: center !important;
}

div.eael-post-grid article {
  position: relative !important;
  z-index: 2;
  align-content: center !important;

  float: unset !important;
  left: 0 !important;
}

@media screen and (max-width: 768px) {
  div.eael-post-grid {
    flex-direction: column;
    justify-content: start !important;
    gap: 20px;
    height: unset !important;
  }

  div.eael-post-grid article {
    position: relative !important;
    padding: 0 !important;
    top: unset !important;
  }
}

/* --- NOVINKY BLOG --- */
.eael-timeline-post-inner {
  border-radius: 225px 15px 225px 220px/15px 225px 15px 21px !important;
  border: 3px solid rgba(0, 0, 0) !important;
  overflow: hidden !important;

  background-image: linear-gradient(
    45deg,
    var(--e-global-color-astglobalcolor0) 0%,
    var(--e-global-color-astglobalcolor0) 100%
  ) !important;
}

.eael-timeline-bullet {
  border-radius: 12px 12px 13px 15px !important;
  border-width: 2px !important;
  border-color: black !important;
  background-color: white !important;
}

/* --- BLOG PŘÍSPĚVEK --- */

.post-template-default .site-primary-header-wrap {
  padding: 0 !important;
}

.post-template-default #content {
  background-color: var(--e-global-color-astglobalcolor0) !important;

  background: url("https://www.klubpsacu.cz/wp-content/uploads/2024/06/bg-dark.png");
}
.post-template-default .ast-container {
  padding: 50px;
}

.post-template-default #primary {
  margin-top: 0 !important;
}

.post-template-default article {
  padding: 5vw !important;
}

.post-template-default article .post-thumb-img-content {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.post-template-default article .post-thumb-img-content img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: center center;
}

.post-template-default article h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900 !important;
  font-size: 2em;
}

.post-template-default article .entry-meta,
.post-template-default .post-navigation .nav-links {
  display: none;
}

/* --- FORM --- */

.ninja-forms-req-symbol {
  color: var(--e-global-color-astglobalcolor0) !important;
}

/* --- HERO BANNER --- */

.hero-banner {
  max-width: 100vw;
  overflow: hidden;
  position: relative;

  background-color: var(--e-global-color-astglobalcolor1);
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.side {
  height: 100vh;
  width: 100%;

  display: grid;
  place-items: center;

  overflow: hidden;
  position: absolute;
}

#left-side {
  background-color: var(--e-global-color-astglobalcolor1);
  z-index: 10;
  width: 80%;

  transition: all 2s ease-in-out;
}

#left-side.intro-animation {
  animation-name: wipeIntro;
  animation-duration: 3s;
}

#left-side.active {
  width: 80%;
}

#left-side.inactive {
  width: 20%;
}

#right-side {
  background-color: var(--e-global-color-astglobalcolor0);

  position: relative;
}

.side::before {
  background-color: var(--e-global-color-astglobalcolor0);

  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-repeat: no-repeat;
}

#right-side::before {
  background: url("https://www.klubpsacu.cz/wp-content/uploads/2024/06/bg-dark.png");
}

#left-side::before {
  background: url("https://www.klubpsacu.cz/wp-content/uploads/2024/06/bg-pink.png");
}

.side p {
  font-size: 1.5vw;
  font-weight: 400;
  margin: 0;
}

.side .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100%;

  color: #fff;
  text-align: center;
  position: relative;

  padding-top: 15% !important;
}

.side .hanel {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, 0);

  z-index: 1;
}

.side .text *:not(img) {
  z-index: 5;
}

.side .title {
  font-size: 5vw;
  font-weight: 800;
  margin: 0;
}

.side .fancy {
  font-family: "Mynerve", cursive;
  font-size: 5vw;
  font-weight: 800;
  margin: 0;
}

.hero-button {
  height: 50px;
  width: 225px;
  color: var(--e-global-color-astglobalcolor2) !important;
  border: 3px solid var(--e-global-color-astglobalcolor2);
  font-weight: 600;

  display: grid;
  place-items: center;

  margin-top: 50px;

  transition: all 0.25s ease-in-out;

  text-decoration: none !important;
}

#left-side .hero-button {
  background-color: var(--e-global-color-astglobalcolor0);
  border-color: var(--e-global-color-astglobalcolor0);
}

#left-side .hero-button:hover {
  background-color: transparent;
  border-color: var(--e-global-color-astglobalcolor2);
}

#right-side .hero-button {
  background-color: var(--e-global-color-astglobalcolor1);
  border-color: var(--e-global-color-astglobalcolor1);
}

#right-side .hero-button:hover {
  background-color: transparent;
  border-color: var(--e-global-color-astglobalcolor2);
}

#left-side .fancy,
#left-side .name {
  color: var(--e-global-color-astglobalcolor0);
}

#right-side .fancy,
#right-side .name {
  color: var(--e-global-color-astglobalcolor1);
}

#slider {
  position: absolute;
  top: 0;
  left: 80%;
  transform: translateX(-50%);

  height: 100%;
  width: 20px;
  z-index: 50;

  transition: all 2s ease-in-out;
}

#slider.active {
  left: 80%;
}

#slider.inactive {
  left: 20%;
}

#slider.slider-intro-animation {
  animation-name: sliderIntro;
  animation-duration: 3s;
}

#slider .line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100%;
  width: 2px;
  z-index: 50;

  background-color: #fff;
}

.switch-button {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(100%);

  width: 150px;
  height: 150px;
  border-radius: 999px;
  background-color: var(--e-global-color-astglobalcolor2);

  cursor: pointer;
  z-index: 80;

  transition: transform 0.25s ease-in-out, opacity 0.5s ease-in-out 2s;
}

.switch-button:hover {
  transform: translate(-50%, -50%) scale(110%);
  transition: transform 0.25s ease-in-out;
}

.switch-button.active {
  opacity: 1;
}

.switch-button.button-intro-animation {
  opacity: 0;
  animation-name: buttonReveal;
  animation-duration: 0.5s;
  animation-delay: 3s;
  animation-fill-mode: both;
}

.switch-button.inactive {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}

.switch-button#petr-activator {
  left: 82%;
}
.switch-button#klub-activator {
  left: 18%;
}

.switch-button p {
  font-size: 12pt;
  line-height: 16pt;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -42%);

  text-align: center;
}

@keyframes wipeIntro {
  from {
    width: 20%;
  }
  to {
    width: 80%;
  }
}

@keyframes sliderIntro {
  from {
    left: 20%;
  }
  to {
    left: 80%;
  }
}

@keyframes buttonReveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .side .text {
    padding-top: 50% !important;
  }

  .side .hanel {
    top: 10%;
    transform: translate(-50%, 0) scale(105%);
  }

  .mobile-break {
    display: inline;
  }

  .side::before {
    background: none !important;
  }

  .side p {
    font-size: 1.5em;
  }

  .side .title,
  .side .fancy {
    font-size: 3em;
  }

  .fancy {
    line-height: 1em !important;
    margin-top: 15px !important;
  }

  #left-side {
    width: 90%;
  }

  #left-side.active {
    width: 90%;
  }

  #left-side.inactive {
    width: 10%;
  }

  #slider.active {
    left: 90%;
  }

  #slider.inactive {
    left: 10%;
  }

  .switch-button {
    top: 25%;
    width: 100px;
    height: 100px;
  }

  .switch-button p {
    font-size: 10pt;
    line-height: 12.5pt;
    transform: translate(-50%, -50%);
  }

  .switch-button#petr-activator {
    left: 80%;
  }
  .switch-button#klub-activator {
    left: 20%;
  }

  @keyframes sliderIntro {
    from {
      left: 10%;
    }
    to {
      left: 90%;
    }
  }

  @keyframes wipeIntro {
    from {
      width: 10%;
    }
    to {
      width: 90%;
    }
  }
}

/* --- LEARNDASH --- */

.page-id-734 #content,
.learndash-cpt #content {
  background-color: var(--e-global-color-astglobalcolor1) !important;
  border-bottom: solid 1px var(--e-global-color-astglobalcolor2);
  background: url("https://www.klubpsacu.cz/wp-content/uploads/2024/06/bg-pink.png");
}

.post-734 h1.entry-title,
.learndash-cpt h1.entry-title {
  font-weight: bold;
  font-size: 20pt;
  text-align: center;
}

.post-734 .ld-expand-button,
.learndash-cpt .ld-expand-button,
.ld-button,
.learndash_mark_complete_button {
  height: 50px;
  width: 200px;
  font-weight: 600;
  transition: all 0.25s ease-in-out;
  text-decoration: none !important;
  border-radius: 0 !important;
  border: 0 !important;
}

.ld-status {
  color: var(--e-global-color-astglobalcolor2) !important;
}

.ld-item-list-item {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px !important;
  border: 3px solid rgba(0, 0, 0) !important;
  overflow: hidden !important;
}

.ld-lesson-status,
.ld-course-status,
.ld-item-search-wrapper {
  border-radius: 0 !important;
  padding: 20px 50px !important;
}

.ld-breadcrumbs {
  padding: 0 !important;
  margin: 0 !important;
}

.learndash-wrapper .ld-progress {
  margin: 0 !important;
}

.post-734 .ld-expand-button,
.learndash-cpt .ld-expand-button,
.ld-button {
  background-color: var(--e-global-color-astglobalcolor0) !important;
  border-color: var(--e-global-color-astglobalcolor0) !important;
  color: var(--e-global-color-astglobalcolor2) !important;
}

.learndash_mark_complete_button {
  background-color: var(--e-global-color-astglobalcolor1) !important;
  border-color: var(--e-global-color-astglobalcolor1) !important;
  color: var(--e-global-color-astglobalcolor2) !important;
}

.ld-profile-stat-completed {
  border: 0 !important;
}

.ld-profile-stat-certificates,
.ld-profile-stat-points,
.ld-profile-edit-link,
#comments,
.learndash-cpt .entry-meta {
  display: none;
}

.ld-profile-summary .ld-profile-card .ld-profile-avatar {
  border: 5px solid var(--e-global-color-astglobalcolor0) !important;
}
